<div class="jeopardy-background">
  <table class="menu-grid" *ngIf="(menuItems$|async) as categories">
    <tr>
      <th *ngFor="let category of categories">{{category.title}}</th>
    </tr>
    <tr>
      <td *ngFor="let category of categories; index as i"><a (click)="selectItem(i,100)" [ngClass]="{'selected':category.one?.read}">100</a></td>
    </tr>
    <tr>
      <td *ngFor="let category of categories; index as i"><a (click)="selectItem(i,200)" [ngClass]="{'selected':category.two?.read}">200</a></td>
    </tr>
    <tr>
      <td *ngFor="let category of categories; index as i"><a (click)="selectItem(i,300)" [ngClass]="{'selected':category.three?.read}">300</a></td>
    </tr>
    <tr>
      <td *ngFor="let category of categories; index as i"><a (click)="selectItem(i,400)" [ngClass]="{'selected':category.four?.read}">400</a></td>
    </tr>
    <tr>
      <td *ngFor="let category of categories; index as i"><a (click)="selectItem(i,500)" [ngClass]="{'selected':category.five?.read}">500</a></td>
    </tr>
  </table>
</div>
