:host{
  background-color: #3246a8;
  height: 100%;
}

.menu-grid{
  width:100%;
  background-color: #3246a8;
  font-family : 'Helvetica';
  font-weight: 700;
  table-layout: fixed;
}

.menu-grid td {
  text-align: center;
  padding: .5em 0em .5em 0em;
  font-size:xxx-large;
}

.menu-grid td a{
  background-color: #3246a8;
  color:yellow;
  text-decoration: none;
}

.menu-grid td a.selected{
  color: rgb(172, 172, 94);
}
