.menu-grid{
  width:100%;
  font-size:xxx-large;
  background-color: #3246a8;
  font-family : 'Helvetica';
  font-weight: 700;
}

.menu-grid td {
  text-align: center;
  padding: .5em 0em .5em 0em;
}

.menu-grid td a{
  background-color: #3246a8;
  color:yellow;
  text-decoration: none;
}
